body {
    font-family: cursive;
    height: 100vh;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 10rem 0 5rem;
    color: $w;
    font-size: 3rem;
    text-decoration: underline;
}

button {
    font-size: 2rem;
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 2rem;
    border: solid #252525 0.2rem;
    border-radius: 5rem;
    box-shadow: 0px 6px 30px 0px #242424;

    &:hover {
        background-color: $w;
    }
}